{% extends 'base.html' %}

{% block jscript %}
	<script src='{{ url_for('static', filename='collapsible.js') }}'></script>
{% endblock %}

{% block header %}
<h1>{% block title %}Funnel{% endblock %} - {{ g.user[0] }}</h1>
{% endblock %}

{% block content %}
	<form action='{{ url_for('feeds.subscribe') }}' method='post'>
		<label for='url'>Feed URL</label>
		<input name='url' id='url' type='url' value='https://' required>
		<button type='submit'>Subscribe</button>
	</form>
	{% for feed in feeds %}
		<article class='feed'>
			<header>
				<div>
					<h2>{{ feed.title }}</h2>
					<a href='{{ feed.link['href'] }}'>Feed Website</a>
				</div>
			</header>
			{% for entry in feed.entries %}
				<section class='entry'>
					<div class='title collapse'>{{ entry.title }}</div>
					<div class='dropdown'>
						<div class='content'>{{ entry.content }}</div>
						<!-- Need to check and see how to secure the html code -->
						<div class='summary'>{{ entry.summary|safe }}</div>
						<div class='description'>{{ entry.description|safe }}</div>
						<div class='author'>
							<a href='{{ entry.author }}'>{{ entry.author }}</a>
						</div>
						<div class='update'>{{ entry.updated.isoformat(sep=' ') }}</div>
						<div class='pubdate'>{{ entry.id }}</div>
					</div>
				</section>
			{% endfor %}
		</article>
	{% endfor %}
{% endblock %}
